<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean id="topicName" class="java.lang.String">
		<constructor-arg index="0" type="java.lang.String" value="fedora" />
	</bean>

	<bean id="solrIndexingService" class="org.fcrepo.index.JMSSolrIndexingService">
		<constructor-arg index="0" value="tcp://localhost:61616" type="java.lang.String" />
		<constructor-arg index="1" ref="topicName"/>
		<property name="solrUrl" value="http://localhost:8081/solr/update" />
		<property name="modeShapeUrl" value="http://localhost:8080" />
	</bean>
	
	<bean id="fedoraServiceRunner" class="org.fcrepo.index.FedoraServiceRunner">
		<property name="services" >
			<list>
				<ref bean="solrIndexingService"/>
			</list>
		</property>
	</bean>
	
	<context:component-scan base-package="org.fcrepo.index"/>
</beans>
